<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395966164246-h89k34v4r5umpigs6jgis24k3vc5up91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395966164246-h89k34v4r5umpigs6jgis24k3vc5up91</string>
	<key>API_KEY</key>
	<string>AIzaSyA0OvPEDk62tjJUzSUH8e1aBKEBjpQa-Bo</string>
	<key>GCM_SENDER_ID</key>
	<string>395966164246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.online-shop-user</string>
	<key>PROJECT_ID</key>
	<string>onlineshopflutter-6cd15</string>
	<key>STORAGE_BUCKET</key>
	<string>onlineshopflutter-6cd15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:395966164246:ios:5ee6b6972ffb30b85d7437</string>
</dict>
</plist>
